<div class="container_div">
<h2><%= @category.name %></h2>
<% if @category.products.any?  %>
    <% @category.products.each do |product| %>
        <div style="margin: 5px; padding: 5px; border: 1px solid #dadada">
         Name: <%= product.name %><br>
         Price: <%= product.price %> Tk<br>
         Details:  <%= product.details %><br>
          <%= link_to 'Edit' , edit_category_product_path(@category, product) %>
          <%= link_to 'Delete' , category_product_path(@category, product) ,method: :delete, data: { confirm: 'Are you sure?' }%>
          <%= social_share_button_tag(product.name, :url => 'www.get-togather.com') %>
        </div>


    <% end %>
<% end %>
<br>
<%= link_to 'Add new product', new_category_product_path(@category) %><br>
<%= link_to 'All Categories', categories_path %>
</div>

<div id="editor"></div>
<button id="create_pdf">generate PDF</button>
<button id="btnPrint">print this</button>
<script type="text/javascript" src="//cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
<script src="//mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
           // for print start
        $("#btnPrint").click(function () {
            var contents = $(".container_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute", "top": "-1000000px" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>Convergent</title>');
            frameDoc.document.write('</head><body>');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);
        });
        // for print end


//        var doc = new jsPDF();
//        var specialElementHandlers = {
//            '#editor': function (element, renderer) {
//                return true;
//            }
//        };
//
//        $('#cmd').click(function () {
//            doc.fromHTML($('.container_div').html(), 15, 15, {
//                'width': 170,
//                'elementHandlers': specialElementHandlers
//            });
//            doc.save('sample-file.pdf');
//        });
        (function(){
            var
                    form = $('.container_div'),
                    cache_width = form.width(),
                    a4  =[ 595.28,  841.89];  // for a4 size paper width and height

            $('#create_pdf').on('click',function(){
                $('body').scrollTop(0);
                createPDF();
            });
//create pdf
            function createPDF(){
                getCanvas().then(function(canvas){
                    var
                            img = canvas.toDataURL("image/png"),
                            doc = new jsPDF({
                                unit:'px',
                                format:'a4'
                            });
                    doc.addImage(img, 'JPEG', 20, 20);
                    doc.save('techumber-html-to-pdf.pdf');
                    form.width(cache_width);
                });
            }

// create canvas object
            function getCanvas(){
                form.width((a4[0]*1.33333) -80).css('max-width','none');
                return html2canvas(form,{
                    imageTimeout:2000,
                    removeContainer:true
                });
            }

        }());
    })

</script>